<!DOCTYPE html>
<html>
    <body>    
        <center> <h1> Change Password </h1>   
        <form name="input" action="/resetUser" method="post">  
            <div class="container">   
                Username :<br>
                <input type="text" placeholder="Enter Username" name="username" required>  
                <br>
                New Password :<br>
                <input type="password" placeholder="Enter New Password" name="new_password" required>  
                <br>
                <input type="submit" value="Change Password">   
            </div>   
        </form>
        <br>
        <a href="/login"> Back to Login </a><br>
        <a href="/registration"> Sign up</a><br>
        </center> 
    </body>     
</html>  