<!DOCTYPE html>
<html>
    <body>    
        <center> <h1> Welcome </h1>    
        <form action="/login.html" method="POST">  
            <div class="container">   
                <label>Username : </label>   
                <input type="text" placeholder="Enter Username" name="username" required>  
                <br>
                <br>
                <label>Password : </label>   
                <input type="password" placeholder="Enter Password" name="password" required>  
                <br>
                <br>
                <input type="submit" value="Log in"><br><br>
            </div>   
        </form> 
        <a href="/registration"> Sign up</a><br>
        <a href="/changePassword"> Forgot password? </a> <br>      
        </center>
    </body>     
</html>  