<!DOCTYPE html>
<html>
    <body>    
        <center> <h1> Register </h1>   
        <form name="input" action="/registration" method="post">  
            <div class="container">   
                Username :<br>
                <input type="text" placeholder="Enter Username" name="username" required>  
                <br>
                Password :<br>
                <input type="password" placeholder="Enter Password" name="password" required>  
                <br>
                <br>
                <input type="submit" value="Sign up">   
            </div>   
        </form>
        <br>
        <a href="/login"> Back to Login </a>
        </center> 
    </body>     
</html>  